# Arquivo de variáveis de ambiente (NUNCA subir)
.env
*.env
Código_do_País_de_Nascimento_ou_Naturalização.xlsx
dados_disciplinas.txt
Dicionário de Variáveis.xls
DM_ALUNO.CSV
DM_DOCENTE.CSV


# Ambiente virtual
venv/
.venv/

# Cache e compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de log
*.log

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Pastas de build
build/
dist/
*.egg-info/

# Arquivos temporários
*.tmp
*.temp

# Configurações de editor
.vscode/
